<style type="text/css">
  .login{
    position: fixed;
    top:70px;
    right: 70px;
    width: 300px;
  }
</style>

<div class="ui login">
  <form class="ui form">
    <div class="ui red secondary segment">
      <div class="field">
        <div class="ui left icon input">
          <i class="user icon"></i>
          <input type="email" name="email" placeholder="E-mail address">
        </div>
      </div>
      <div class="field">
        <div class="ui left icon input">
          <i class="lock icon"></i>
          <input type="password" name="password" placeholder="Password">
        </div>
      </div>
      <div class="ui fluid submit button">Login</div>
    </div>
    <div class="ui error message"></div>
  </form>
</div>